<nav aria-label="breadcrumb">
  <ol class="breadcrumb" *ngFor="let breadcumb of breadcumbs">
    <ng-container *ngIf="breadcumb.active; else elseBlock">
      <li class="breadcrumb-item">{{ breadcumb.label }}</li>
    </ng-container>
    <ng-template #elseBlock>
      <li
        class="breadcrumb-item active"
        aria-current="page"
        [ngClass]="{ active: breadcumb.active }"
      >
        <a href="{{ breadcumb.url }}">{{ breadcumb.label }}</a>
      </li>
    </ng-template>
  </ol>
</nav>
