<table class="table mx-4" style="width: 95%; overflow-y: scroll">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Birthday/Age</th>
      <th scope="col">Nationality</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex flex-row">
          <picture>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Cnl3NJNCvdicyO28MFrUWQKi7WOO4Nj1AsUUk5ifBw&s"
              alt="Company name"
              class="img-fluid img-thumbnail"
              style="width: 60px; height: 50px"
            />
          </picture>
          <div class="mx-1">
            <div><a href="#">Company Name</a></div>
            <div>Company Sector</div>
          </div>
        </div>
      </td>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <th>
        <button type="button" class="btn text-warning">
          <i-bs name="pencil-square" width="1rem" height="1rem"></i-bs>
        </button>
      </th>
      <th>
        <button type="button" class="btn text-danger">
          <i-bs name="trash3-fill" width="1rem" height="1rem"></i-bs>
        </button>
      </th>
    </tr>
  </tbody>
</table>
