<div
  *ngIf="showAlert && alertType === 'PRIMARY'"
  class="alert alert-primary alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'SECONDARY'"
  class="alert alert-secondary alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'SUCCESS'"
  class="alert alert-success alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'DANGER'"
  class="alert alert-danger alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'WARNING'"
  class="alert alert-warning alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'INFO'"
  class="alert alert-info alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'LIGHT'"
  class="alert alert-light alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
<div
  *ngIf="showAlert && alertType === 'DARK'"
  class="alert alert-dark alert-component"
  [ngClass]="showAlert ? '' : 'fade-out'"
  role="alert"
>
  {{ message }}
</div>
