.alert-component{
    position: absolute;
    width: 50%;
    left: auto;
    right: 2%;
    top: 12%;
    width: 50%;
    margin: 10px 0px 10px 0px;
    animation: moveToLeft 0.3s;
    animation-timing-function: ease;
}

.alert-component.fade-out{
    animation: moveToRight 0.3s;
    animation-timing-function: ease;
}

@keyframes moveToLeft {
    from {right: 0%;}
    to {right: 2%;}
}

@keyframes moveToRight {
    from {right: 2%;}
    to {right: 0%;}
}