<app-header></app-header>
<div class="w-100 d-flex justify-content-center py-4">
    <div>
        <i-bs name="file-person-fill"></i-bs>
    </div>
    <form style="width: 30%;">
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password">
        </div>
        <div class="w-100 d-flex justify-content-between">
            <div class="form-check mt-1">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Keep-me connected</label>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: var(--bs-purple); border: 0;">Login</button>
        </div>
    </form>
</div>
<app-footer></app-footer>